<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">

	<insert id="insertBoard">
		<!-- insert into tbl_boards (TBNO,TB_KIND,ID,CNO,CSNO,DO1,SI,CONTENT,LIKES,title,NOTICE,OPENCHAT,TEL,DONG) 
			values (TBL_BOARDS_SEQ.nextval ,#{tb_kind},#{id},#{cno},#{csno},#{do1},#{si},#{content},#{likes},#{title},#{notice},#{openchat},#{tel},#{dong}) -->

		<if test="(tb_kind == 0 ) and (place1 != null)"><!-- 운영자가 쓸때 -->
			<![CDATA[
			insert into tbl_boards (tbno,TB_KIND,id,cno,csno,place1,place2,title,content,notice,IMAGE) values (tbl_boards_seq.nextval,#{tb_kind},#{id},#{cno},#{csno},#{place1},#{place2},#{title},#{content},#{notice}#{image})
			]]>
		</if>

		<if test="(tb_kind != 0 ) and (place1 != null)">
			insert into tbl_boards(tbno, tb_kind, id, cno, csno, do1, si, dong, place1, place2, title, notice, openchat,content) 
			values(tbl_boards_seq.nextval, #{tb_kind}, #{id}, #{cno}, #{csno}, #{do1}, #{si}, #{dong}, #{place1}, #{place2}, #{title}, #{notice}, #{openchat}, #{content})
		</if>

		<if test="(tb_kind != 0 ) and (place1 == null)">
			insert into tbl_boards(tbno, id, cno, csno, do1, si, dong, title, notice, openchat, content) 
			values(tbl_boards_seq.nextval, #{id}, #{cno}, #{csno}, #{do1}, #{si}, #{dong}, #{title}, #{notice}, #{openchat}, #{content})
		</if>

	</insert>

	<!-- 도 검색 -->
	<select id="selectDO" resultType="String">
		select DISTINCT ds_sido from
		DS_ZIP
	</select>

	<!-- 시 검색 -->
	<select id="selectSi" resultType="String">
		select DISTINCT DS_GUGUN from
		DS_ZIP where ds_sido=#{do1}
	</select>

	<!-- 메인 카테고리 검색 -->
	<select id="selectMainCategory" resultType="java.util.Map">
		select cno, cname
		from TBL_CATEGORY
	</select>

	<!-- 서브 카테고리 검색 -->
	<select id="selectSubCategory" resultType="java.util.Map">
		select csno, csname
		from TBL_SUBCATEGORY where cno=#{cno}
	</select>

	<!-- 검색에 의해 카테고리 불러오기 -->
	<select id="selectCategory" resultType="java.util.Map">
		select cname, csname from
		tbl_category natural join tbl_subcategory where csno = #{csno}
	</select>

	<select id="selectCommonRow" resultType="boardVO">
		select TBNO,TB_KIND,ID,CNO,CSNO,DO1,SI,DONG,PLACE1,PLACE2,TITLE,NOTICE,OPENCHAT,CONTENT,IMAGE,VIEWCNT,REGDATE,UPDATEDATE,
					(select count(*) from tbl_like where tbno =  #{tbno}) likes,
					(select count(*) from bookmark where tbno = #{tbno} and id = #{id}) myFavor  
		from TBL_BOARDS 
		where tbno=#{tbno}
	</select>


	<delete id="deleteCommonRow">
		delete from tbl_boards where tbno=#{tbno}
	</delete>
	
	<select id="selectTravelAdmin" resultType="boardVO">
		select nickname, a.id, a.cno, a.csno, a.notice,
					(select cname from tbl_category where cno = a.cno) cname,
					(select csname from tbl_subcategory where csno = a.csno) csname,
					 a.tbno, a.title, to_char(a.regdate,'yyyy-mm-dd') regdate,
					 (select count(*) from tbl_like where tbno =  a.tbno) likes, 
					 (select count(*) from tbl_replies where tbno = a.tbno) replies, 
					 (select count(*) from bookmark where tbno = a.tbno and id = #{id} and id = #{id}) myfavor,
					 (select count(*) from tbl_boards where tb_kind = 2 and place1 like '%'||#{place1}||'%' and place2 like '%'||#{place2}||'%') reviews,
					 place1, place2, a.viewcnt, a.image
				from userinfos, tbl_boards a
				where a.place1 like '%'||#{place1}||'%' and tb_kind = 0 and
				a.id = userinfos.id
	</select>
	
	<select id="selectBoardList" resultType="boardListVO">
		<if test="place1 != null">
			select * from (
			<include refid="travelBoardCount" />
			)
			<include refid="search" />
			order by ordered

		</if>

		<if test="place1 == null">

			select * from (
				<include refid="count"/>		
			)
			<include refid="search"/>
			order by ordered, regdate desc
		</if>
	</select>

	<select id="selectTravelReview" resultType="boardListVO">
		select * from (
			<include refid="travelReview"/>
		)
			<include refid="search"/>
		order by ordered, regdate desc
	</select>
	<select id="countTravelReview" resultType="int">
		select count(*) from (
		<include refid="travelReview" />
		)
		<include refid="search" />
	</select>

	<select id="countBoardList" resultType="int">
		<if test="place1 != null">
			select count(*) from (
			<include refid="travelBoardCount" />
			)
			<include refid="search" />


		</if>

		<if test="place1 == null">

			select count(*) from (
			<include refid="count" />
			)
			<include refid="search" />


		</if>
	</select>

	<!-- 즐겨찾기 등록 -->
	<insert id="insertBookmark">
		insert into bookmark values(bookmark_seq.nextval,
		#{id}, #{tbno})
	</insert>

	<!-- 즐겨찾기 해제 -->
	<delete id="deleteBookmark">
		delete from bookmark where id = #{id} and tbno =
		#{tbno}
	</delete>

	<!-- 즐겨찾기 유무 확인 -->
	<select id="selectBookmark" resultType="int">
		select count(*) from
		bookmark where id = #{id} and tbno = #{tbno}
	</select>

	<!-- 시도 불러오기 -->
	<select id="selectSido" resultType="region">
		select distinct ds_sido from ds_zip
	</select>

	<!-- 군구 불러오기 -->
	<select id="selectGugun" resultType="region">
		select distinct ds_gugun
		from ds_zip
		where ds_sido = #{ds_sido}
	</select>

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'n'.toString()">
				where nickname like '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 't'.toString()">
				where title like '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				where content like '%'||#{keyword}||'%'
			</if>
		</if>
	</sql>

	<sql id="travelBoardCount">
		select profile, nickname, a.id, a.do1, a.si, a.dong, a.cno,
		a.csno,
		(select cname from tbl_category where cno = a.cno) cname,
		(select csname from tbl_subcategory where csno = a.csno) csname,
		a.tbno, a.title, to_char(a.regdate,'yyyy-mm-dd') regdate, round(15 - (sysdate
		- a.regdate)) ddate,
		(select count(*) from tbl_like where tbno = a.tbno) likes,
		(select count(*) from tbl_replies where tbno = a.tbno) replies,
		(select count(*) from bookmark where tbno = a.tbno and id = #{id} and id =
		#{id}) myfavor,
		place1, place2, a.viewcnt,
		1 as ordered
		from userinfos, tbl_boards a
		where a.si = #{si} and a.dong = #{dong} and a.place1 like
		'%'||#{place1}||'%' and
		a.place2 like '%'||#{place2}||'%' and a.csno = #{csno} and tb_kind not in(0,2)
		and
		a.id = userinfos.id
		union
		select profile, nickname, a.id, a.do1, a.si, a.dong, a.cno, a.csno,
		(select cname from tbl_category where cno = a.cno) cname,
		(select csname from tbl_subcategory where csno = a.csno) csname,
		a.tbno, a.title, to_char(a.regdate,'yyyy-mm-dd') regdate, round(15 - (sysdate
		- a.regdate)) ddate,
		(select count(*) from tbl_like where tbno = a.tbno) likes,
		(select count(*) from tbl_replies where tbno = a.tbno) replies,
		(select count(*) from bookmark where tbno = a.tbno and id = #{id}) myfavor,
		place1, place2, a.viewcnt,
		2 as ordered
		from userinfos, tbl_boards a
		where a.si = #{si} and a.dong = #{dong} and a.place1 like
		'%'||#{place1}||'%' and
		a.place2 like '%'||#{place2}||'%' and a.csno != #{csno} and tb_kind not
		in(0,2) and
		a.id = userinfos.id
		union
		select profile, nickname, a.id, a.do1, a.si, a.dong, a.cno, a.csno,
		(select cname from tbl_category where cno = a.cno) cname,
		(select csname from tbl_subcategory where csno = a.csno) csname,
		a.tbno, a.title, to_char(a.regdate,'yyyy-mm-dd') regdate, round(15 - (sysdate
		- a.regdate)) ddate,
		(select count(*) from tbl_like where tbno = a.tbno) likes,
		(select count(*) from tbl_replies where tbno = a.tbno) replies,
		(select count(*) from bookmark where tbno = a.tbno and id = #{id}) myfavor,
		place1, place2, a.viewcnt,
		3 as ordered
		from userinfos, tbl_boards a
		where a.si = #{si} and a.dong = #{dong} and a.place1 like
		'%'||#{place1}||'%' and
		a.place2 not like '%'||#{place2}||'%' and a.csno = #{csno} and tb_kind not
		in(0,2) and
		a.id = userinfos.id
		union
		select profile, nickname, a.id, a.do1, a.si, a.dong, a.cno, a.csno,
		(select cname from tbl_category where cno = a.cno) cname,
		(select csname from tbl_subcategory where csno = a.csno) csname,
		a.tbno, a.title, to_char(a.regdate,'yyyy-mm-dd') regdate, round(15 - (sysdate
		- a.regdate)) ddate,
		(select count(*) from tbl_like where tbno = a.tbno) likes,
		(select count(*) from tbl_replies where tbno = a.tbno) replies,
		(select count(*) from bookmark where tbno = a.tbno and id = #{id}) myfavor,
		place1, place2, a.viewcnt,
		4 as ordered
		from userinfos, tbl_boards a
		where a.si = #{si} and a.dong = #{dong} and a.place1 like
		'%'||#{place1}||'%' and
		a.place2 not like '%'||#{place2}||'%' and a.csno != #{csno} and tb_kind not
		in(0,2) and
		a.id = userinfos.id
		union
		select profile, nickname, a.id, a.do1, a.si, a.dong, a.cno, a.csno,
		(select cname from tbl_category where cno = a.cno) cname,
		(select csname from tbl_subcategory where csno = a.csno) csname,
		a.tbno, a.title, to_char(a.regdate,'yyyy-mm-dd') regdate, round(15 - (sysdate
		- a.regdate)) ddate,
		(select count(*) from tbl_like where tbno = a.tbno) likes,
		(select count(*) from tbl_replies where tbno = a.tbno) replies,
		(select count(*) from bookmark where tbno = a.tbno and id = #{id}) myfavor,
		place1, place2, a.viewcnt,
		5 as ordered
		from userinfos, tbl_boards a
		where a.si = #{si} and a.dong != #{dong} and a.place1 like
		'%'||#{place1}||'%' and
		a.place2 like '%'||#{place2}||'%' and a.csno = #{csno} and tb_kind not in(0,2)
		and
		a.id = userinfos.id
		union
		select profile, nickname, a.id, a.do1, a.si, a.dong, a.cno, a.csno,
		(select cname from tbl_category where cno = a.cno) cname,
		(select csname from tbl_subcategory where csno = a.csno) csname,
		a.tbno, a.title, to_char(a.regdate,'yyyy-mm-dd') regdate, round(15 - (sysdate
		- a.regdate)) ddate,
		(select count(*) from tbl_like where tbno = a.tbno) likes,
		(select count(*) from tbl_replies where tbno = a.tbno) replies,
		(select count(*) from bookmark where tbno = a.tbno and id = #{id}) myfavor,
		place1, place2, a.viewcnt,
		6 as ordered
		from userinfos, tbl_boards a
		where a.si = #{si} and a.dong != #{dong} and a.place1 like
		'%'||#{place1}||'%' and
		a.place2 like '%'||#{place2}||'%' and a.csno != #{csno} and tb_kind not
		in(0,2) and
		a.id = userinfos.id
		union
		select profile, nickname, a.id, a.do1, a.si, a.dong, a.cno, a.csno,
		(select cname from tbl_category where cno = a.cno) cname,
		(select csname from tbl_subcategory where csno = a.csno) csname,
		a.tbno, a.title, to_char(a.regdate,'yyyy-mm-dd') regdate, round(15 - (sysdate
		- a.regdate)) ddate,
		(select count(*) from tbl_like where tbno = a.tbno) likes,
		(select count(*) from tbl_replies where tbno = a.tbno) replies,
		(select count(*) from bookmark where tbno = a.tbno and id = #{id}) myfavor,
		place1, place2, a.viewcnt,
		7 as ordered
		from userinfos, tbl_boards a
		where a.si = #{si} and a.dong != #{dong} and a.place1 like
		'%'||#{place1}||'%' and
		a.place2 not like '%'||#{place2}||'%' and a.csno = #{csno} and tb_kind not
		in(0,2) and
		a.id = userinfos.id
		union
		select profile, nickname, a.id, a.do1, a.si, a.dong, a.cno, a.csno,
		(select cname from tbl_category where cno = a.cno) cname,
		(select csname from tbl_subcategory where csno = a.csno) csname,
		a.tbno, a.title, to_char(a.regdate,'yyyy-mm-dd') regdate, round(15 - (sysdate
		- a.regdate)) ddate,
		(select count(*) from tbl_like where tbno = a.tbno) likes,
		(select count(*) from tbl_replies where tbno = a.tbno) replies,
		(select count(*) from bookmark where tbno = a.tbno and id = #{id}) myfavor,
		place1, place2, a.viewcnt,
		8 as ordered
		from userinfos, tbl_boards a
		where a.si = #{si} and a.dong != #{dong} and a.place1 like
		'%'||#{place1}||'%' and
		a.place2 not like '%'||#{place2}||'%' and a.csno != #{csno} and a.tb_kind not
		in(0,2) and
		a.id = userinfos.id
	</sql>

	<sql id="count">
		select profile, nickname, a.id, a.do1, a.si, a.dong, a.cno,
		a.csno,
		(select cname from tbl_category where cno = a.cno) cname,
		(select csname from tbl_subcategory where csno = a.csno) csname,
		a.tbno, a.title, to_char(a.regdate,'yyyy-mm-dd') regdate, round(15 - (sysdate
		- a.regdate)) ddate,
		(select count(*) from tbl_like where tbno = a.tbno) likes,
		(select count(*) from tbl_replies where tbno = a.tbno) replies,
		(select count(*) from bookmark where tbno = a.tbno and id = #{id}) myfavor,
		a.viewcnt,
		1 as ordered
		from userinfos, tbl_boards a
		where a.si = #{si} and a.dong = #{dong} and a.csno = #{csno} and a.tb_kind
		not in(0,2) and
		a.id = userinfos.id
		union
		select profile, nickname, a.id, a.do1, a.si, a.dong, a.cno, a.csno,
		(select cname from tbl_category where cno = a.cno) cname,
		(select csname from tbl_subcategory where csno = a.csno) csname,
		a.tbno, a.title, to_char(a.regdate,'yyyy-mm-dd') regdate, round(15 - (sysdate
		- a.regdate)) ddate,
		(select count(*) from tbl_like where tbno = a.tbno) likes,
		(select count(*) from tbl_replies where tbno = a.tbno) replies,
		(select count(*) from bookmark where tbno = a.tbno and id = #{id}) myfavor,
		a.viewcnt,
		2 as ordered
		from userinfos, tbl_boards a
		where a.si = #{si} and a.dong = #{dong} and a.cno = #{cno} and a.csno !=
		#{csno} and a.tb_kind not in(0,2) and
		a.id = userinfos.id
		union
		select profile, nickname, a.id, a.do1, a.si, a.dong, a.cno, a.csno,
		(select cname from tbl_category where cno = a.cno) cname,
		(select csname from tbl_subcategory where csno = a.csno) csname,
		a.tbno, a.title, to_char(a.regdate,'yyyy-mm-dd') regdate, round(15 - (sysdate
		- a.regdate)) ddate,
		(select count(*) from tbl_like where tbno = a.tbno) likes,
		(select count(*) from tbl_replies where tbno = a.tbno) replies,
		(select count(*) from bookmark where tbno = a.tbno and id = #{id}) myfavor,
		a.viewcnt,
		3 as ordered
		from userinfos, tbl_boards a
		where a.si = #{si} and a.dong != #{dong} and a.cno = #{cno} and a.csno !=
		#{csno} and a.tb_kind not in(0,2) and
		a.id = userinfos.id

	</sql>


	<update id="updateCommonRow">
		update tbl_boards set TITLE=#{title},  NOTICE=#{notice}, OPENCHAT=#{openchat}, CONTENT=#{content}, where tbno=#{tbno}
	</update>

	<sql id="travelReview">
		select profile, nickname, a.id, a.do1, a.si, a.dong, a.cno,
		a.csno,
		(select cname from tbl_category where cno = a.cno) cname,
		(select csname from tbl_subcategory where csno = a.csno) csname,
		a.tbno, a.title, to_char(a.regdate,'yyyy-mm-dd') regdate, round(15 - (sysdate
		- a.regdate)) ddate,
		(select count(*) from tbl_like where tbno = a.tbno) likes,
		(select count(*) from tbl_replies where tbno = a.tbno) replies,
		(select count(*) from bookmark where tbno = a.tbno and id = #{id}) myfavor,
		place1, place2, a.viewcnt,
		1 as ordered
		from userinfos, tbl_boards a
		where a.place1 like '%'||#{place1}||'%' and
		a.place2 like '%'||#{place2}||'%' and
		a.csno = #{csno} and tb_kind = 2 and
		a.id = userinfos.id
		union
		select profile, nickname, a.id, a.do1, a.si, a.dong, a.cno, a.csno,
		(select cname from tbl_category where cno = a.cno) cname,
		(select csname from tbl_subcategory where csno = a.csno) csname,
		a.tbno, a.title, to_char(a.regdate,'yyyy-mm-dd') regdate, round(15 - (sysdate
		- a.regdate)) ddate,
		(select count(*) from tbl_like where tbno = a.tbno) likes,
		(select count(*) from tbl_replies where tbno = a.tbno) replies,
		(select count(*) from bookmark where tbno = a.tbno and id = #{id}) myfavor,
		place1, place2, a.viewcnt,
		2 as ordered
		from userinfos, tbl_boards a
		where a.place1 like '%'||#{place1}||'%' and
		a.place2 like '%'||#{place2}||'%' and
		a.csno != #{csno} and tb_kind = 2 and
		a.id = userinfos.id
		union
		select profile, nickname, a.id, a.do1, a.si, a.dong, a.cno, a.csno,
		(select cname from tbl_category where cno = a.cno) cname,
		(select csname from tbl_subcategory where csno = a.csno) csname,
		a.tbno, a.title, to_char(a.regdate,'yyyy-mm-dd') regdate, round(15 - (sysdate
		- a.regdate)) ddate,
		(select count(*) from tbl_like where tbno = a.tbno) likes,
		(select count(*) from tbl_replies where tbno = a.tbno) replies,
		(select count(*) from bookmark where tbno = a.tbno and id = #{id}) myfavor,
		place1, place2, a.viewcnt,
		3 as ordered
		from userinfos, tbl_boards a
		where a.place1 like '%'||#{place1}||'%' and
		a.place2 not like '%'||#{place2}||'%' and
		a.csno = #{csno} and tb_kind = 2 and
		a.id = userinfos.id

	</sql>

	<update id="addViewCnt">
		update tbl_boards set VIEWCNT= VIEWCNT+1 where tbno=
		#{tbno}
	</update>

	<select id="selectViewCnt" resultType="String">
		<foreach collection="tbnoList" item="value" separator="" open="("
			close=")">
			select VIEWCNT from TBL_BOARDS where tbno = #{value}
		</foreach>
	</select>

	<!-- 내가 쓴 글 검색 -->
	<select id="iwrote" resultType="boardVO">
		select * from tbl_boards where id=#{id}
	</select>
	
	<select id="iwroteTOTCnt" resultType="int">
		select count(*) from tbl_boards where id=#{id} order by regdate desc
	</select>
</mapper>

