@CHARSET "UTF-8";

body{
	background-color: #F1F3FA;
	height: 1000px
}
.row{
	margin-top: 20px;
	text-align: center;
}

.header {
	margin-right: 0px;
	margin-top: 20px;
	text-align: right;
}

.m, img{
	border-radius: 5%;
}

.footer{
	display: grid;
	text-align: center;
	padding: 25px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: #FFD9EC;
	border: 3px dashed fuchsia;
	border-radius: 25px;
}


.t {
	width: 180;
	display: inline;
	padding-top: 5;
}
.s {
	display: inline;
	width: 89;
}

.glyphicon {
	font-size: 20px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

/* .dropdown:hover .dropdown-content {
    display: block;
} */

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}