@CHARSET "UTF-8";

#beautyModal .modal-content {
	text-align: center;
	opacity: 0.9;
	display: grid;
    position: relative;
    background-color: ghostwhite;
    margin: auto;
    padding-top: 0;
    border: 3px dashed #FFD9EC;
    border-radius: 10%;
    height: 650px;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
#beautyModal .close-beauty {
	height: 0px;
    display: block;
	text-align: right;
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#beautyModal .close-beauty:hover,
#beautyModal .close-beauty:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#subbeauty{
	opacity: 0.5;
}
#subbeauty:hover{
	opacity: 1;
}