@CHARSET "UTF-8";

#diyModal .modal-content {
	text-align: center;
	opacity: 0.9;
	display: grid;
    position: relative;
    background-color: ghostwhite;
    margin: auto;
    padding-top: 0;
    border: 3px dashed #888;
    border-radius: 15%;
    height: 650px;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
#diyModal .close-diy {
	height: 0px;
    display: block;
	text-align: right;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#diyModal .close-diy:hover,
#diyModal .close-diy:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#subdiy{
	opacity: 0.5;
}
#subdiy:hover{
	opacity: 1;
}